## Exploring the yfinance and Quandl packages

Simple plots and modeling of Tesla and SPY ETF

In [1]:
import yfinance as yf

In [2]:
tsla = yf.Ticker("tsla")

# get stock info
tsla.info

# get historical market data
hist = tsla.history(period="max")

In [3]:
hist

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2010-06-29   19.00   25.00   17.54   23.89  18766300          0             0
2010-06-30   25.79   30.42   23.30   23.83  17187100          0             0
2010-07-01   25.00   25.92   20.27   21.96   8218800          0             0
2010-07-02   23.00   23.10   18.71   19.20   5139800          0             0
2010-07-06   20.00   20.00   15.83   16.11   6866900          0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-05-08  793.77  824.00  787.01  819.42  16130100          0             0
2020-05-11  790.51  824.00  785.00  811.29  16471100          0             0
2020-05-12  827.00  843.29  808.00  809.41  15906900          0             0
2020-05-13  820.83  826.00  763.30  790.96  19017700          0             0
2020-05-14  820.83  803.36  764.00  803.33  13357642          0             0

[2487 rows x 7 columns]